<audio id="localAudio" style="display:none;"></audio>

<div class='numPad'>
	<input type="text">

	<ul>
	  	<li ng-click='setChannel(1)'>
	    	<img src="static/images/btn-num1.png" alt="">
	  	</li>
	  	<li ng-click='setChannel(2)'>
	    	<img src="static/images/btn-num2.png" alt="">
	  	</li>
	  	<li ng-click='setChannel(3)'>
	    	<img src="static/images/btn-num3.png" alt="">  
	  	</li>
	  	<li ng-click='setChannel(4)'>
	    	<img src="static/images/btn-num4.png" alt="">  
	  	</li>
	  	<li ng-click='setChannel(5)'>
	    	<img src="static/images/btn-num5.png" alt="">  
	  	</li>
	  	<li ng-click='setChannel(6)'>
	    	<img src="static/images/btn-num6.png" alt="">  
	  	</li>
	  	<li ng-click='setChannel(7)'>
	    	<img src="static/images/btn-num7.png" alt="">  
	  	</li>
	  	<li ng-click='setChannel(8)'>
	    	<img src="static/images/btn-num8.png" alt="">  
	  	</li>
	  	<li ng-click='setChannel(9)'>
	    	<img src="static/images/btn-num9.png" alt="">  
	  	</li>
	  	<li ng-click='setChannel(0)'>
	    	<img src="static/images/btn-num0.png" alt="">  
	  	</li>
	</ul>
	
	<div class='actions'>
		<a ng-click='call()' href="">LLamar</a>
		<a ng-click='call()' href="">Colgar</a>
	</div>

</div>
